
:root {
    --side-width: 20%;
}
body{
    margin: 0;
    background-color: lightgoldenrodyellow;
}

/* first-section-styles */


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0% 10%;
    background-color: black;
    color: white;
    margin: 5% 10%;
    border-radius: 2%;   
}
.first-title{
    width: 100%;
    padding: 20% 0%;
}

.first-title a{
    text-decoration: none;
    background-color: crimson;
    color: white;
    padding: 5% 5%;
    border-radius: 1em;
}
.first-title p{
    padding-bottom: 20px;
}
.fa-arrow-right{
    padding-left: 5%;
}
.first-image{
    width: 100%;
    padding-top: 10%;
}
.first-image img{
    width: 100%;
    height: 100%;
   
}
h1{  
    font-size: 10vh;
} 


/* product */
.product-title{
    text-align: center;
    font-weight: 700;
}
.side-bar{
    display: flex;
    width:var(--side-width);
    padding-left: 10%;

}
.side-items{
    background-color: black;
    height: 300px;
    margin: 10px;
    display: grid;
    grid-template-columns: 200px;
    padding: 0 40px;
    border-radius: 5px;

}
.side-items>a{
    text-decoration: none;
    background-color:white;
    color:black;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
    margin: 20px 0px;
    padding: 20px 20px;

}
.matches{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    width: calc(100% - var(--side-width));
    padding-right: 10%;
}
.matches .match > img{
    width: 224px;
    height: 120px;
    padding-bottom: 20px;
}
.match{
    background-color: rgb(245, 235, 235);
    margin: 5px;
    padding: 10px 10px;
}
.match-btn{
    padding: 5px 10px;
}
.match-title{
    font-size: large;
    font-weight: 700;
}

.match-icon{
    display: flex;
}
.icon-item{
    display: flex;
    margin-right: 20px;
}


/* footer-styles */


footer {
    background-color: rgb(37, 37, 40);
    text-align: center;
    padding: 5% 0;
    margin-top: 5%;
}
.footer-title >h2{
    font-size: 40px;
    font-weight: 700;
    color: white;
    padding-top: 2%;
}
.footer-nav-bar{
    padding: 2% 0;
}
.footer-nav-bar> a{
    text-decoration: none;
    font-size: 15px;
    color: white;
    padding: 10% 2%;
}


/* media query */


@media screen and (max-width:688px) {
    main {
        width: 100%;
    }
    .container{
        grid-template-columns: repeat(1,1fr);
        
    }
    .logos{
        grid-template-columns: repeat(4,1fr);
    }
    .products{
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (min-width:689px) and (max-width:900px){
    main {
        width: 100%;
    }
    .container{
        grid-template-columns: repeat(1,1fr);
        
    }
    .logos{
        grid-template-columns: repeat(4,1fr);
    }
    .products{
        grid-template-columns: repeat(2,1fr);
    }
}